body{
    font-family:'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    /* background-image: url("body_background.jpg"); */
    /* #09A8F9 */
    background-size: cover;
    background-repeat: no-repeat;
    
}
.logo{
    position: relative;
    left: -20%;
}
h1{
    color: pink;
    font-size: 40px;
}
    header{
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    color: #fff;
    padding: 0 5px 0 5px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}
header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin:5px 10px 5px -50px ;
}
header p{
    margin-top: 20px;
    display: inline-block;
    margin-left: 5px;
}
.name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navber ul{
    display: flex;
    align-items: center ;
    list-style-type: none;
    padding: 0;
    position: absolute;
    right: 120px;
 }
 .navber ul li{
     display: inline;
     margin: 0 10px;
 }
 .navber ul li a{
   position: relative;
     text-decoration: none;
     color: #fff;
     font-size: 15px;
 }
 .navber ul li a::before{
   content: "";
   position: absolute;
   height: 3px;
   width: 0;
   background-color: #39FF14;
   bottom: 0;
   transition: all 0.3s ease-in-out ;
 }
  .navber ul li a:hover::before{
  width: 100%;  
  }
 .menu_icon .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-top: 7px;
    transition: all 0.3s ease;
}
.hamburger-menu span {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #fff
}
 .login{
     height: 30px;
     border: none;
     border-radius: 4px;
     background-color: #0046ff;
     color: #fff;
     font-weight: 600;
     margin: 12px 0 0 0;
     position: absolute;
     right: 30px;
 }
 section{
     padding: 20px 0;
 }
 footer{
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px 0;
     position: fixed;
     width: 100%;
     bottom: 0;
 }
 .div1{
     display: flex;
     justify-content: flex-end;
     }
.bgimg{
     height: 500px;
     width: 100%;
     background-image: url("School_5.jpg");
     background-size: cover;
     position: relative;
     top: 0;
     z-index: 1000000;
     }
.bgimg .overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(1,1,1,0.5);
}
 .marquee1{
     font-size: 40px;
     color: transparent;  
     margin-top: 20px;
 }
.bgimg_p1{
    font-size: 35px;
    color: #ffd700;
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 32%;
    margin-top: 50px;
    display: inline-block;
}
.bgimg_p2{
    position: relative;
    bottom: 70px;
    font-size: 35px;
    color: #ffd700;
    font-family: poppins;
    font-weight: 700;
    margin-left: 38%;
    display: inline-block;
}
.bgimg_p3{
    color: #e0e0e0;
    position: relative;
    bottom: 120px;
    font-size: 15px;
    text-align: center; 
    font-family: roboto;
    font-weight: 400;

}
.menu_icon{
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: 20px;
}
.menu{
    position: fixed;
    top: -100%;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li{
    padding: 15px;
    border-bottom: 1px solid #444;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.menu ul li a:hover{
    background-color: black;
}
.menu.active{
    right: 0;
    top: 0;
}
.marquee2 a{
    color: black;
    text-decoration: none;
    
}
.marquee2 .card{
  display: inline-block;
  width: 200px;
  border: 3px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: 50px 15px 0 15px;
}
.marquee2 .card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  filter: brightness(1.1) contrast(1.05);
}

.marquee2 .card .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.marquee2 .card .content {
  font-size: 14px;
}



.news_box{
    height: 1000px;
    background-color: #C1D5DC;
    width: 80%;
    margin: 2.5% 0 0 10%;
    overflow-y: scroll;
    border-radius: 10px;
}
.news_box a{
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 30px;
    color: #3B4143;
    font-weight: 500;
}
.news_box h1{
    font-size: 70px;
    margin-left: 30px;
    color: #12516A;
    border-bottom: 4px solid #3A687C;
    font-weight: 900;
}
.heading{
    margin-left: 2.5%;
    width: 95%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    height: 80px;
    font-size: 40px;
    font-family: Times, serif;
   display: flex;
   justify-content: center;
   align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
}





     .about-wrap {
  background: #7a9b3a; /* same green */
  padding: 20px;
  color: #fff;
}

.about-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.about-card {
  background: rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 8px;
}

.about-card h3 {
  font-size: 18px;
  border-bottom: 2px dotted #fff;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

.about-card p,
.about-card li {
  font-size: 14px;
  line-height: 1.6;
}

.about-card ul {
  list-style: none;
  padding-left: 0;
}

.about-card a {
  color: #fff;
  text-decoration: none;
}

.about-card a:hover {
  text-decoration: underline;
}

/* Map bottom */
.about-map-bottom {
  margin-top: 25px;
  height: 250px;
}

.about-map-bottom iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
  
  
  
  
  
  
  
  .slider {
    position: relative;
    max-width: 98%;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider img {
    width: 100%;
    vertical-align: middle;
    height: 500px;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    z-index: 1000;
    font-size: 50px;
    font-weight: 900;
    border-radius: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px){
    .menu_icon{
        display: none;
    }
}
@media (max-width: 700px){
    .navber{

        display: none;

    }
    .login{
        display: none;
    }
    .bgimg{
        height: 300px;
    }
    .logo p{
        margin-right: 20px;
        position: relative;
        right: 12px;
    }
    header .logo{
        left: -5px;
    }
    .menu_icon{
        margin-top: -8px;
    }
    .bgimg_p1{
        font-size: 20px;
        font-weight: 900;
    }
    .bgimg_p2{
        margin-top: 40px;
        font-size: 20px;
        font-weight: 900;
        margin-top: 50px;
    }
    .bgimg_p3{
        font-weight: 600;
        margin-top: 30px;
        font-size: 10px;
    }
    .marquee1{
        font-size: 30px;
    }
    .login2{
        display: block;
        height: 30px;
     border: none;
     border-radius: 4px;
     background-color: #0046ff;
     color: #fff;
     font-weight: 600;
     margin: 5px 0 0 40%;
    } 
    .marquee2 .card{
        width: 140px;
    }
    .marquee2 .card img{
        height: 150px;
        border-radius: 5px;
    }
    .news_box{
        height: 350px;
        border-radius: 5px;
    }
    .news_box h1{
        font-size: 27.71px;
        margin-left: 15px;
    }
    .news_box a{
        font-size: 11.87px;
        margin: 0 0 15px 15px;
    }
    .slider img {
    height: 197.90px;
}
    .slider button{
        font-size: 19.79px;
        border-radius: 5px;
        border: none;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .heading{
        height: 31.664px;
        font-size: 15.832px;
    }
    
  .about-flex {
    grid-template-columns: 1fr;
  }

  .about-map-bottom {
    height: 200px;
  }

}  


